<div class="row">
    <div class="col-md-8">
        <h1>Top 10 users of {{animal}}</h1>
        {{#if users}}
            <ul class="list-group" style="height: 70vh; overflow-y: auto;" id="messages">
                {{#each users}}

                    <li class="list-group-item list-group-item-info list-group-item-action">
                        <p>{{name.given}} {{name.surname}}</p>

                        <span>Points: {{points}}</span> -
                        <span>Age: {{age}}</span>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No users</p>
        {{/if}}-->
    </div>
</div>