<table class="table table-success table-striped">
    <h1>Top 25 Users</h1>
    <a type="button" class="btn btn-outline-primary" href="/new-user">Create new User</a>

    {{#if users}}
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">age</th>
            <th scope="col">points</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr>
                <td>{{name.given}}</td>
                <td>{{name.surname}}</td>
                <td>{{age}}</td>
                <td>{{points}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    {{else}}
        <p>No users</p>
    {{/if}}
</table>